:root{
    --fuenteHeadings: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeadings);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/* Utilidades */
.centrar-texto{
    text-align: center;
}
/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.btn{
    display: block;
}
.container-fluid{
    max-width: 1000px;
}

.formulario__grupo-input {
    position: relative;
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66868;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}
/*Estilos para validacion*/
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1 ;
}
.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1 ;
}
.formulario__grupo-incorrecto .formulario__input{
    border-color:  #bb2929;
}